.file-option-menu {
    margin-bottom: 0;
}

.option-dropdown {
    width: 75px;
    font-size: 14px;
    padding-left: 11px;
    padding-right: 11px;
    color: inherit;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.option-dropdown:hover {
    color: inherit;
}

.filename-input:hover {
    border: #0e6cff solid 1px;
}

.filename-input:focus {
    background-color: #fff;
    border: #0e6cff solid 1px;
}